AUTH_DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
AUTH_DB_USERNAME=BANKING
AUTH_DB_PASSWORD=change-me

TWOFA_DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
TWOFA_DB_USERNAME=BANKING
TWOFA_DB_PASSWORD=change-me

CUSTOMER_DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
CUSTOMER_DB_USERNAME=BANKING
CUSTOMER_DB_PASSWORD=change-me

BRANCH_DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
BRANCH_DB_USERNAME=BANKING
BRANCH_DB_PASSWORD=change-me

ACCOUNT_DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
ACCOUNT_DB_USERNAME=BANKING
ACCOUNT_DB_PASSWORD=change-me

BENEFICIARY_DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
BENEFICIARY_DB_USERNAME=BANKING
BENEFICIARY_DB_PASSWORD=change-me

TRANSACTION_DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
TRANSACTION_DB_USERNAME=BANKING
TRANSACTION_DB_PASSWORD=change-me

JWT_SECRET=MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE=
INTERNAL_API_KEY=replace-this-before-production
TWOFA_ENCRYPTION_KEY=MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU=

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
TRANSACTION_CREATED_TOPIC=transaction-created
ACCOUNT_DEBITED_TOPIC=account-debited
ACCOUNT_CREDITED_TOPIC=account-credited
